.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(42, 44, 46, 0.3);
  transition: background-color .4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}

.overlay:hover {
  cursor: pointer;
  background-color: rgba(42, 44, 46, 0.8);
}
