.footer-list__item {
  list-style: none;
  margin-right: 18px;
}
.footer-list__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 520px) {
  .footer-list__item {
   padding-bottom: 32px;
   font-size: 24px;
  line-height: 24px;
   }
 }

 @media screen and (max-width: 520px) {
  .footer-list__item:last-of-type {
   padding-bottom: 0;
   }
 }
