.background {
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  width: calc(100% - (48px*2));
  height: 740px;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .background {
    width: 100%;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .background {
    height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .background {
    height: 425px;
  }
}

@media screen and (max-width: 320px) {
  .background {
    height: 200px;
    margin-bottom: 64px;
  }
}
